.findModalWindow_MainText {
    margin: 0px;
    font-weight: bold !important;
    text-shadow: 0px 2px 4px #3d3d3d69;
}
.findModalWindow_AddittionalText {
    margin: 10px 0px 10px 0px;
    text-shadow: 0px 2px 4px #3d3d3d69;

}
.findModalWindow_IDInput {
    width: 70%;
    height: 30px;
    margin-top: 10px;
    color: black !important;
    font-size: 20px;
    outline: none;
}

.mainFont {
    font-family: 'Aeonik';
    font-weight: normal;
    color: white;
}

.findModalWindow_Status {
    font-family: 'Aeonik';
    font-weight: bold;
    font-size: 22px;
}

.pendingText {
    color: #2ca053;
}

.rejectText {
    color: #d63232;
}