.mainPage_Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1fr; 
    gap: 5px 0px; 
    grid-template-areas: 
        "Header Header Header"
        "mainPage_LS mainPage_Content mainPage_RS"; 
}

.mainPage_Header { 
    grid-area: Header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    background-color: #6ce7e7dc;
    color: white;
    font-family: 'Aeonik';
    font-weight: bold;
    font-size: 78px;
}

.mainPage_Content, .mainPage_LS, .mainPage_RS {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.mainPage_Content {
    grid-area: mainPage_Content;
    padding: 0px 10px;
}

.mainPage_LS { 
    grid-area: mainPage_LS; 
    padding-left: 10px;
}
.mainPage_RS { 
    grid-area: mainPage_RS; 
    padding-right: 10px;
}

@media (max-width: 1100px) {
    .mainPage_Container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.05fr 0fr 0.95fr;
        grid-template-areas: 
            "Header Header"
            "mainPage_LS mainPage_Content"
            "mainPage_RS mainPage_RS"; 
    }
    .mainPage_Content, .mainPage_LS, .mainPage_RS {
        padding: 0px 10px;
    }
}

@media (max-width: 800px) {
    .mainPage_Header {
        font-size: 60px !important; 
    }

    .mainPage_Container {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 10px 0px;
        grid-template-rows: 0.1fr 200px 1fr 200px; 
        grid-template-areas: 
        "Header"
        "mainPage_Content"
        "mainPage_RS"
        "mainPage_LS"; 
    }

    .mainPage_RS {
        
    }
}
