.chatModal_Background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* min-height: 650px; */
    background-color: #5d5d5daf;
    backdrop-filter: blur(3px);
    z-index: 999;
}

.chatModal_MainContainer {
    display: grid; 
    grid-template-columns: 1fr 1.2fr 0.8fr; 
    grid-template-rows: 0.3fr 2.1fr 0.5fr; 
    gap: 0px 0px;
    min-width: 30%;
    width: 30vw;
    height: 80vh;
    background-color: #ffffffca;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}


.chatModal_Header {
    grid-area: 1 / 1 / 2 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    width: 100%;
    background-color: #ffffffdc;
    font-family: 'Aeonik';
    font-size: 24px;
    border-radius: 10px 10px 0 0 ;
    font-weight: bold;
}

.chatModal_MessageList {
    grid-area: 2 / 1 / 3 / 4; 
    display: flex;
    flex-direction: column-reverse;
}

.chatModal_MessageList-MessageLine { 
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 10px;
}

.rightSideMessage { 
    justify-content: flex-start;
}

.leftSideMessage {
    justify-content: flex-end;
}

.messageList_MessageCard {
    max-width: 40%;
    margin-left: 10px;
    margin: 0px 10px;
}

.messageCard_MessageInfo {
    font-family: 'Aeonik';
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
}

.messageList_CompanionMessage {
    max-width: 100%;
    background-color: #aa67aace;
    font-family: 'Aeonik';
    color: white;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 2px dashed #844084c6;
}

.messageList_ClientMessage {
    max-width: 100%;
    background-color: white;
    font-family: 'Aeonik';
    color: #000000;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 2px dashed #dadada;
}

.InputZone { grid-area: 3 / 1 / 4 / 4; }

.SendButton { grid-area: 3 / 3 / 4 / 4; }


@media (max-width: 1300px) {
    .chatModal_MainContainer{
        width: 40%;
    }
}

@media (max-width: 800px) {
    .chatModal_MainContainer{
        width: 65%;
    }
}