.chatModal_Background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* min-height: 650px; */
    background-color: #5d5d5daf;
    backdrop-filter: blur(3px);
}

.chatModal_MainContainer {
    min-width: 30%;
    width: 30vw;
    height: 80vh;
    background-color: #ffffffca;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

@media (max-width: 1300px) {
    .chatModal_MainContainer{
        width: 40%;
    }
}

@media (max-width: 800px) {
    .chatModal_MainContainer{
        width: 65%;
    }
}