@font-face {
    font-family: 'YandexSans';
    src: url("/src/public/fonts/YandexSansDisplay-Bold.ttf") format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'YandexSans';
    src: url("/src/public/fonts/YandexSansDisplay-Regular.ttf") format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'YandexSans';
    src: url("/src/public/fonts/YandexSansDisplay-Light.ttf") format('ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Aeonik';
    src: url(./public/fonts/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url(./public/fonts/Aeonik-Bold.ttf);
    font-weight: bold;
}
