/* .container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 40px calc(100% - 40px);
    grid-template-areas: 
        "titleBar"
        "mainPage"; 
} */

body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Aeonik';
    src: url(../public/fonts/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url(../public/fonts/Aeonik-Bold.ttf);
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f7efef;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a5a2a2;
    border-radius: 5px;
}
